<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   <mapper namespace="com.bemeal.web.dummy.DummyMapper">
   <resultMap type="hashmap" id="result">
  		<result property="itemSeq" column="ITEM_SEQ"/>
  		<result property="itemName" column="ITEM_NAME"/>
  		<result property="brand" column="BRAND"/>
  		<result property="category" column="CATEGORY"/>
  		<result property="price" column="PRICE"/>
  		<result property="salePercent" column="SALE_PERCENT"/>
  		<result property="event" column="EVENT"/>
  		<result property="newItem" column="NEW_ITEM"/>
  		<result property="explains" column="EXPLAINS"/>
  		<result property="calorie" column="CALORIE"/>
  		<result property="imgSeq" column="IMG_SEQ"/>
  		<result property="img" column="IMG"/>
  		<result property="memberId" column="MEMBER_ID"/>
  		<result property="password" column="PASSWORD"/>
  		<result property="name" column="NAME"/>
  		<result property="age" column="AGE"/>
  		<result property="ssn" column="SSN"/>
  		<result property="gender" column="GENDER"/>
  		<result property="address" column="ADDRESS"/>
  		<result property="eMail" column="E_MAIL"/>
  		<result property="tasteSeq" column="TASTE_SEQ"/>
  		<result property="quantity" column="QUANTITY"/>
  		<result property="dirName" column="DIR_NAME"/>
  		<result property="grade" column="GRADE"/>
  		<result property="tasteDate" column="TASTE_DATE"/>
  		<result property="tasteTime" column="TASTE_TIME"/>
  		<result property="flag" column="FLAG"/>
  		<result property="tag_seq" column="TAG_SEQ"/>
  		<result property="tag_flag" column="TAG_FLAG"/>
  		<result property="tag_name" column="TAG_NAME"/>
  		<result property="avg" column="avg"/>
  		<result property="count" column="COUNT"/>
  		<result property="sum" column="SUM"/>
  		<result property="no" column="NO"/>
  	</resultMap>
   <insert id="postTaste">
   INSERT INTO TASTE
   (QUANTITY, FLAG, MEMBER_ID, ITEM_SEQ, PURCHASE_SEQ)
   VALUES
   (#{quantity},#{flag},#{memberId},#{itemSeq},#{purSeq})
   </insert>
   <insert id="postPur">
   INSERT INTO PURCHASE
   VALUES 
   (#{purSeq},#{memberId})
   </insert>
   <select id="memberList" resultType="com.bemeal.web.mbr.Member">
   SELECT 
      MEMBER_ID AS "MEMBERID",PASSWORD,NAME,AGE,SSN,GENDER,ADDRESS,E_MAIL AS "EMAIL",PHONE_NUM AS PHONENUM 
   FROM MEMBER
   </select>
   </mapper>