@charset "UTF-8";
* {
  overflow-style: none;
}
.text-shadow-black {
  text-shadow: -1px 0 #e9ecef, 0 1px #e9ecef, 1px 0 #e9ecef, 0 -1px #e9ecef;
}
.text-shadow-white {
  text-shadow: -1px 0 #ffffff, 0 1px #ffffff, 1px 0 #ffffff, 0 -1px #ffffff;
}
/* remove screrrorThrownollbar(view) */
div::-webkit-scrollbar {
  display: none;
}
/* navi */
.navbar {
  background-color: transparent;
}
.top-nav-collapse {
  background-color: #fdcf33;
}
@media only screen and (max-width: 991px) {
  .navbar {
    background-color: #fdcf33;
  }
}
header {
  padding-top: 79px;
}
#content {
  padding-top: 90px;
}
@media only screen and (min-width: 1800px) {
  .mainContent {
    margin: 0 400px;
  }
}
@media only screen and (min-width: 1000px) and (max-width: 1799px) {
  .mainContent {
    margin: 0 300px;
  }
}
@media only screen and (min-width: 760px) and (max-width: 999px) {
  .mainContent {
    margin: 0 200px;
  }
}
.nav-item {
  font-size: 20px;
  font-weight: 530;
}
/* 이미지위에 글씨 올리기 */
.carousel-inner {
  position: relative;
  margin-bottom: 50px;
  overflow: visible;
}
.carousel-item {
  cursor: pointer;
}
.carousel-item > span div {
  display: inline-block;
  position: absolute;
  bottom: 0%;
  text-align: center;
  color: #212529;
  font-size: 20px;
  z-index: 51;
  font-weight: 900;
  font-family: 'Gugi', cursive;
}
.carousel-title,
.search_page_head {
  font-size: 1.5em;
  color: #727375;
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: bold;
  font-family: 'Gugi', cursive;
}
.carousel-control {
  width: 7%;
}
.img_hover {
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}
.img_hover:hover {
  transform: scale(1.5);
  position: relative;
  z-index: 52;
}
/* evaluate page */
.evaluate_progress {
  position: fixed;
  top: 60px;
  padding-top: 15px;
  left: 0;
  right: 0;
  width: 100%;
  height: 85px;
  z-index: 60;
  background-color: #fff;
  text-align: center;
  margin: 0 auto;
}
.evaluate_progress .evaluate_progress_ratings_count {
  font-size: 22px;
  margin-bottom: 1px;
  font-weight: 300;
  letter-spacing: -0.5px;
}
.evaluate_progress .evaluate_progress_message {
  font-size: 14px;
  margin-bottom: 1px;
  letter-spacing: -0.5px;
}
.evaluate_progress .evaluate_progress_bar {
  position: relative;
  border: 1px solid #000;
  overflow: hidden;
  width: 580px;
  height: 8px;
  border-radius: 40px;
  margin: 0 auto;
  marigin-top: 11px;
}
.evaluate_progress .evaluate_progress_bar .evaluate_progress_value {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background: #000;
  transition: width 0.5s linear;
}
.evaluative_title {
  color: black!important;
  position: relative;
}
.evaluateToRetrieve {
  font-size: 25px;
}
/* /evaluate page */
/* search page start*/
.search_page_head {
  margin-top: 55px;
  margin-left: 10px;
}
.searchCol {
  margin-bottom: 60px;
}
/* search page end*/
/* footer */
footer {
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 280px;
  background: /* color overlay */ linear-gradient(rgba(187, 29, 30, 0.45), rgba(0, 0, 0, 0.45)), /* image to overlay */ url(/web/resources/img/cmm/footer.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.footer-container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.footer-container .text-muted {
  margin: 20px 0;
}
.footertext {
  color: #ffffff;
}
.col_card_group {
  display: flex;
  min-width: 100%;
  min-height: 200px;
  overflow-x: auto;
}
.col_card_group .col_card {
  min-width: 200px;
  max-width: 200px;
  margin: 5px;
}
.col_list_box {
  border: 1px solid #fff;
}
#col_title {
  margin-left: 50px;
  margin-top: 5px;
}
.login_form {
  max-width: 400px;
  margin: auto;
}
#serchForm {
  position: relative;
}
#tagBox {
  position: absolute;
  margin-top: 20px;
  left: -127px;
  top: 22px;
  width: 421px;
  height: 139px;
  background-color: #000;
  opacity: 0.8;
  border-radius: 20px;
}
#flavorTagList,
#feelTagList,
#ingTagList {
  display: inline;
  overflow: scroll;
  border-radius: 0px;
}
.tagBoxItem {
  text-align: center;
  background-repeat: no-repeat;
  min-width: 60px;
  max-width: 60px;
  min-height: 37px;
  max-height: 37px;
  font-size: 15px;
}
.btn-outline-white {
  border: 2px solid #e9ecef !important;
  background-color: transparent!important;
  color: #e9ecef !important;
  background-image: none;
}
.btn-white {
  background-color: #e9ecef !important;
  color: #000!important;
}
.btn-outline-red {
  border: 2px solid #bb1d1e !important;
  background-color: transparent!important;
  color: #bb1d1e !important;
  background-image: none;
}
.btn-red {
  background-color: #bb1d1e !important;
  color: #000!important;
}
.btn-outline-yellow {
  border: 2px solid #fdcf33 !important;
  background-color: transparent!important;
  color: #fdcf33 !important;
  background-image: none;
}
.btn-yellow {
  background-color: #fdcf33 !important;
  color: #000!important;
}
