.detail-main {
	height:60%; 
	width:60%; /* The width is 60%, by default */
	overflow-y: scroll; 
	background-color:#FFFFFF;
	/* background-image: url(/web/resources/img/yoonho/bg1.jpg);
	opacity:0.5!; */
	/* padding:20px; */
	float:left; 
	margin-top:0;
}

.detail-right {
  background-color:#FFFFFF;
  margin:200px;
  padding:20px;
  height:30%;
  width:30%;/* The width is 20%, by default */
	 float:right; 
	 margin-top:auto;
}
.detail-right.position {
	
	top:0px;
	right:100px;
	float:center;
	position:fixed;
	
}

@media screen and (max-height:600px) and (max-width:600px) {
   .detail-main, .detail-right {
    width:60%; /* The width is 100%, when the viewport is 800px or smaller */
  	height:100%;
  }
}

.item.img{
	width:70%;
	height:70%;
	float:center;
}

@media (max-height: 200px) and (max-width:200px) {
   .item.img {
    width:70%; /* The width is 100%, when the viewport is 800px or smaller */
  	height:70%
  }
}

/* active scroll */
#y_item_detailUI{
	width: auto;
	height: 650px;
	margin:auto;
	overflow-y: scroll; 
	margin-bottom: auto;
}
.y_item_detailUI{
	width: auto;
	height: 650px;
	margin:auto;
	overflow-y: scroll; 
	margin-bottom: auto;
}




.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
  
  /* padding-top: 20px; */
  background-color: #FFFFFF;/* #f1f1f1 */
  height: 100%;
  width:30%;
  /* position:fixed; */
  float:right; 
  
}

.p.float.left{
	float:left;
}



/* if junghoon`s comment imported, you must delete comment-testbox class */

.comment-testbox{
	width:100%;
}

@media screen and (max-width:800px) {
	.comment-testbox {
		width:100%; /* The width is 100%, when the viewport is 800px or smaller */
 		}
}
   



   /* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
    /* position:fixed; */
  }
  .row.content {height:auto;} 
}
	
    
    

.comment-wrapper {
	margin-top:30px;
	margin-right: 75px;
}

.comment-author {
    width: 50px;
    height: 50px;
    margin-top:30px;

    
}
.single_comment_area::after {
    display: none;
}
.single_comment_area {/*  ol*/
    margin-left: 30px;
}

.leave-comment-area::after {
    display: none;
}
.leave-comment-area {/*  ol*/
    margin-left: 30px;
}







/* dropdown btn */

.dropbtn {
background-color: #3498DB;
color: white;
padding: 16px;
font-size: 16px;
border: none;
cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
background-color: #2980B9;
}

.dropdown {
position: relative;
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #FFFFFF;/* #f1f1f1; */
min-width: 160px;
overflow: auto;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}





/* body {
            background-color: #eeeeee;
        }
 */
.h7 {
    font-size: 0.8rem;
}

.gedf-wrapper {
    margin-top: 0.97rem;
}

@media (min-width: 992px) {
    .gedf-main {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .gedf-card {
        margin-bottom: 2.77rem;
    }
}

/*Reset Bootstrap*/
.dropdown-toggle::after {
    content: none;
    display: none;
}


/* sam-mfp mine */

@CHARSET "UTF-8";
/* Magnific Popup CSS */
.yh-mfp-bg {
  top: 0;
  left: 0;
  width: 70%;
  height: 70%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
  filter: alpha(opacity=80); }

.yh-mfp-wrap {
  top: 0;
  left: 0;
  margin-left: 300px ;
  margin-right:300px;
  padding-left: 300px;
  padding-right: 300px;
  width: 70%;
  height: 90%;
  z-index: 1043;
  position: absolute;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.yh-mfp-container {
  position: absolute;
  width: 70%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
/*   -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; */ }

.yh-mfp-container:before {
  content: '';
  display: inline-block;
  width:70%
  height: 100%;
  vertical-align: middle; }

.yh-mfp-align-top .yh-mfp-container:before {
  display: none; }

.yh-mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  padding: 0 auto;
  text-align: left;
  vertical-align: text-top;
  z-index: 1045; }

.yh-mfp-navi {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  padding: 0;
  text-align: right;
  z-index: 1045; }

.yh-mfp-inline-holder .yh-mfp-content, .yh-mfp-ajax-holder .yh-mfp-content {
  width: 100%;
  cursor: auto; }

.yh-mfp-ajax-cur {
  cursor: progress; }

.yh-mfp-zoom-out-cur, .yh-mfp-zoom-out-cur .yh-mfp-image-holder .yh-mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.yh-mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.yh-mfp-auto-cursor .yh-mfp-content {
  cursor: auto; }

.yh-mfp-close, .yh-mfp-arrow, .yh-mfp-preloader, .yh-mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.yh-mfp-loading.yh-mfp-figure {
  display: none; }

.yh-mfp-hide {
  display: none !important; }

.yh-mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }
  .yh-mfp-preloader a {
    color: #CCC; }
    .yh-mfp-preloader a:hover {
      color: #FFFFFF/* #FFF */; }

.yh-mfp-s-ready .yh-mfp-preloader {
  display: none; }

.yh-mfp-s-error .yh-mfp-content {
  display: none; }

button.yh-mfp-close, button.yh-mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
  box-shadow: none; }
button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.yh-mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  filter: alpha(opacity=65);
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
  .yh-mfp-close:hover, .yh-mfp-close:focus {
    opacity: 1;
    filter: alpha(opacity=100); }
  .yh-mfp-close:active {
    top: 1px; }

.yh-mfp-close-btn-in .yh-mfp-close {
  color: #333; }

.yh-mfp-image-holder .yh-mfp-close, .yh-mfp-iframe-holder .yh-mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.yh-mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.yh-mfp-arrow {
  position: absolute;
  opacity: 0.65;
  filter: alpha(opacity=65);
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  .yh-mfp-arrow:active {
    margin-top: -54px; }
  .yh-mfp-arrow:hover, .yh-mfp-arrow:focus {
    opacity: 1;
    filter: alpha(opacity=100); }
  .yh-mfp-arrow:before, .yh-mfp-arrow:after, .yh-mfp-arrow .yh-mfp-b, .yh-mfp-arrow .yh-mfp-a {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent; }
  .yh-mfp-arrow:after, .yh-mfp-arrow .yh-mfp-a {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }
  .yh-mfp-arrow:before, .yh-mfp-arrow .yh-mfp-b {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7; }

.yh-mfp-arrow-left {
  left: 0; }
  .yh-mfp-arrow-left:after, .yh-mfp-arrow-left .yh-mfp-a {
    border-right: 17px solid #FFF;
    margin-left: 31px; }
  .yh-mfp-arrow-left:before, .yh-mfp-arrow-left .yh-mfp-b {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F; }

.yh-mfp-arrow-right {
  right: 0; }
  .yh-mfp-arrow-right:after, .yh-mfp-arrow-right .yh-mfp-a {
    border-left: 17px solid #FFF;
    margin-left: 39px; }
  .yh-mfp-arrow-right:before, .yh-mfp-arrow-right .yh-mfp-b {
    border-left: 27px solid #3F3F3F; }

.yh-mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }
  .yh-mfp-iframe-holder .yh-mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }
  .yh-mfp-iframe-holder .yh-mfp-close {
    top: -40px; }

.yh-mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }
  .yh-mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000; }

/* Main image in popup */
img.yh-mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.yh-mfp-figure {
  line-height: 0; }
  .yh-mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444; }
  .yh-mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px; }
  .yh-mfp-figure figure {
    margin: 0; }

.yh-mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.yh-mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.yh-mfp-image-holder .yh-mfp-content {
  max-width: 100%; }

.yh-mfp-gallery .yh-mfp-image-holder .yh-mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .yh-mfp-img-mobile .yh-mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .yh-mfp-img-mobile img.yh-mfp-img {
    padding: 0; }
  .yh-mfp-img-mobile .yh-mfp-figure:after {
    top: 0;
    bottom: 0; }
  .yh-mfp-img-mobile .yh-mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .yh-mfp-img-mobile .yh-mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .yh-mfp-img-mobile .yh-mfp-bottom-bar:empty {
      padding: 0; }
  .yh-mfp-img-mobile .yh-mfp-counter {
    right: 5px;
    top: 3px; }
  .yh-mfp-img-mobile .yh-mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; }
 }

@media all and (max-width: 900px) {
  .yh-mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }

  .yh-mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }

  .yh-mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }

  .yh-mfp-container {
    padding-left: 6px;
    padding-right: 6px; }
 }

.yh-mfp-ie7 .yh-mfp-img {
  padding: 0; }
.yh-mfp-ie7 .yh-mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px; }
.yh-mfp-ie7 .yh-mfp-container {
  padding: 0; }
.yh-mfp-ie7 .yh-mfp-content {
  padding-top: 44px; }
.yh-mfp-ie7 .yh-mfp-close {
  top: 0;
  right: 0;
  padding-top: 0; }
.yh-white-popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width:auto;
    max-width: 1100px;
    margin: 20px auto;
    /* max-height: 100%; */
    /* overflow-y: scroll; */
}


/* button hover effect */




/* grid col */
.mg0-pd0{/* col-sm-5 */
	margin:0px auto;
	padding:0px;
	
}

.mgt50-mgba{/* col-sm-8 */
	margin-top:50px;
	margin-bottom:auto;
}

.mgt50{/* col-lg-6 */
	margin-top:50px;
}
.mgt50-mgb50{
	margin-top:50px;
	margin-bottom:50px;
}


.mgt50-mgb100{/* col-lg-8 */
	margin-top:50px;
	margin-bottom:100px;
}

.w50-h100{/* col-lg-8 */
	width:50px;
	height:100px;
}
.mg0a{
	margin:0 auto;
}
.mgt70{
	margin-top:70px;
}

.mgt10-mgb10{
	margin-top:10px;
	margin-bottom:10px;
}
.mgr10-mgr10{
	margin-right:10px;
	margin-left:10px;
}


.y_img_popup{
	position : relative;
	height:40%;
	width:30%;
	float:left;
	margin-left:20%;
	margin-right:20%;
	margin-top:8%;
	margin-bottom:8%;
}
.y_img_popup_div{
	height:20%;
	width:10%;
}
.y_img_popup_pr{
	height:40px;
	width:40px;
}
.y_img_popup_alg{
	height:70px;
	width:70px;
}
.y_bg_popup_gr{
	background-color:#FFFFFF/* #f1f1f1 */;
}
.y_bg_popup_bg{
	background-color:beige;
}
.btn-group.yh{
	width:0px;
}
.btn-group.show.yh{
	width:0px;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}





/* carousel modal class : list와 통합후 삭제 */
.carousel.slide.y{
	height:100px;
	width:200px;
}

.carousel-img.y{
	height:100px;
	width:100px;
}
/* carousel list class  */
.col-md-2.d-md-inline-block.y{
	padding-left:0 ;
	padding-right:0 ;
	
}

