<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.bemeal.web.cmm.CommonMapper">
  	<resultMap type="hashmap" id="result">
  		<result property="itemSeq" column="ITEM_SEQ"/>
  		<result property="itemName" column="ITEM_NAME"/>
  		<result property="brand" column="BRAND"/>
  		<result property="category" column="CATEGORY"/>
  		<result property="price" column="PRICE"/>
  		<result property="salePercent" column="SALE_PERCENT"/>
  		<result property="event" column="EVENT"/>
  		<result property="newItem" column="NEW_ITEM"/>
  		<result property="explains" column="EXPLAINS"/>
  		<result property="calorie" column="CALORIE"/>
  		<result property="imgSeq" column="IMG_SEQ"/>
  		<result property="img" column="IMG"/>
  		<result property="memberId" column="MEMBER_ID"/>
  		<result property="password" column="PASSWORD"/>
  		<result property="name" column="NAME"/>
  		<result property="age" column="AGE"/>
  		<result property="ssn" column="SSN"/>
  		<result property="gender" column="GENDER"/>
  		<result property="address" column="ADDRESS"/>
  		<result property="eMail" column="E_MAIL"/>
  		<result property="tasteSeq" column="TASTE_SEQ"/>
  		<result property="quantity" column="QUANTITY"/>
  		<result property="dirName" column="DIR_NAME"/>
  		<result property="grade" column="GRADE"/>
  		<result property="tasteDate" column="TASTE_DATE"/>
  		<result property="tasteTime" column="TASTE_TIME"/>
  		<result property="flag" column="FLAG"/>
  		<result property="avg" column="avg"/>
  		<result property="count" column="COUNT"/>
  		<result property="sum" column="SUM"/>
  		<result property="no" column="NO"/>
  	</resultMap>
  	<insert id="postTag">
  		INSERT INTO TAG_ITEM
  		(TAG_SEQ,ITEM_SEQ)
  		VALUES 
  		(
  		(SELECT TAG_SEQ
  		FROM TAG
  		WHERE TAG_NAME LIKE #{tagName}),
	  	#{itemSeq}	
		)
  	</insert>
  	<select id="selectOneGrade" resultType="string">
  		SELECT GRADE FROM TASTE 
  		WHERE MEMBER_ID LIKE #{id}
  			AND ITEM_SEQ LIKE #{itemSeq}
  			AND FLAG LIKE 'star'
  	</select>
  	<select id="countRatingsById" resultType="int">
  	SELECT COUNT(*)
  	FROM TASTE
  	WHERE FLAG LIKE 'STAR'
  		AND MEMBER_ID LIKE #{id}
  	</select>
  	<select id="countUnRatingsById" resultType="int">
  	SELECT COUNT(*)
	FROM ITEM 
	WHERE ITEM_SEQ NOT IN (
		SELECT item_seq
		FROM TASTE 
		WHERE FLAG LIKE 'STAR'
			AND MEMBER_ID LIKE #{id}
	)
  	</select>
  	<select id="evaluateList" resultMap="result">
  	SELECT * 
  	FROM image m join (
		SELECT *, row_number() over() as NO
		FROM ITEM 
		WHERE ITEM_SEQ NOT IN (
			SELECT item_seq
			FROM TASTE 
			WHERE FLAG LIKE 'STAR'
				AND MEMBER_ID LIKE #{id}
		)
	) t on m.item_seq like t.item_seq
	WHERE NO between #{pagination.beginRow} and #{pagination.endRow};
  	</select>
	<insert id="insertGrade">
	INSERT INTO TASTE
	(GRADE, FLAG, MEMBER_ID, ITEM_SEQ)
	VALUES
	(#{grade} , 'star', #{id}, #{itemSeq})
	</insert>
	<delete id="removeGrade">
	DELETE FROM TASTE
	WHERE MEMBER_ID LIKE #{id}
		AND ITEM_SEQ LIKE #{itemSeq}
		AND FLAG LIKE 'star'
	</delete>
	<update id="modifyGrade">
	UPDATE TASTE
	SET GRADE = #{grade}
	WHERE FLAG LIKE 'star'
		AND MEMBER_ID LIKE #{id}
		AND ITEM_SEQ LIKE #{itemSeq}
	</update>
	<select id="countGrade" resultType="string">
	SELECT COUNT(*) FROM TASTE
	WHERE FLAG LIKE 'star'
		AND MEMBER_ID LIKE #{id}
	</select>
	<select  id="countItem" resultType="int">
	SELECT COUNT(*) FROM ITEM
	</select>
	
 	<select id="gradList" resultMap="result">
	  	SELECT *
		FROM
		(SELECT ROW_NUMBER() OVER(ORDER BY A.avg DESC) as no,A.*
		FROM
		(SELECT 
	  		 it.*,im.img,ROUND(AVG(t.grade),2) AS avg
		FROM ITEM it
			JOIN IMAGE im ON it.item_seq like im.item_seq
			JOIN TASTE t ON it.item_seq like t.item_seq
		WHERE T.FLAG LIKE 'STAR'
		GROUP BY 
			it.item_seq) A) B
		WHERE NO &lt;= 20
		ORDER BY NO
  	</select>
 	<select id="buyList" resultMap="result">
	  	SELECT *
		FROM
		(SELECT ROW_NUMBER() OVER(ORDER BY A.SUM DESC) as no,A.*
		FROM
		(SELECT 
	  		 it.*,im.img,SUM(t.QUANTITY) AS SUM
		FROM ITEM it
			JOIN IMAGE im ON it.item_seq like im.item_seq
			JOIN TASTE t ON it.item_seq like t.item_seq
		WHERE T.FLAG LIKE 'BUY'
		GROUP BY 
			it.item_seq) A) B
		WHERE NO &lt;= 20
		ORDER BY NO
  	</select>
 	<select id="wishList" resultMap="result">
	  	SELECT *
		FROM
		(SELECT ROW_NUMBER() OVER(ORDER BY A.COUNT DESC) as no,A.*
		FROM
		(SELECT 
	  		 it.*,im.img,COUNT(t.TASTE_SEQ) AS COUNT
		FROM ITEM it
			JOIN IMAGE im ON it.item_seq like im.item_seq
			JOIN TASTE t ON it.item_seq like t.item_seq
		WHERE T.FLAG LIKE 'WISH'
		GROUP BY 
			it.item_seq) A) B
		WHERE NO &lt;= 20
		ORDER BY NO
  	</select>
 	<select id="listByGender" resultMap="result">
	  	<!-- SELECT *
		FROM
		(SELECT ROW_NUMBER() OVER(ORDER BY A.COUNT DESC) as no,A.*
		FROM
		(SELECT 
	  		 it.*,im.img,COUNT(t.TASTE_SEQ) AS COUNT
		FROM ITEM it
			JOIN IMAGE im ON it.item_seq like im.item_seq
			JOIN TASTE t ON it.item_seq like t.item_seq
		WHERE T.FLAG LIKE 'WISH'
		GROUP BY 
			it.item_seq) A) B
		WHERE NO &lt;= 20
		ORDER BY NO -->
  	</select>
 	<select id="listByAge" resultMap="result">
	  	<!-- SELECT *
		FROM
		(SELECT ROW_NUMBER() OVER(ORDER BY A.COUNT DESC) as no,A.*
		FROM
		(SELECT 
	  		 it.*,im.img,COUNT(t.TASTE_SEQ) AS COUNT
		FROM ITEM it
			JOIN IMAGE im ON it.item_seq like im.item_seq
			JOIN TASTE t ON it.item_seq like t.item_seq
		WHERE T.FLAG LIKE 'WISH'
		GROUP BY 
			it.item_seq) A) B
		WHERE NO &lt;= 20
		ORDER BY NO -->
  	</select>
  </mapper>