<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.bemeal.web.mbr.MemberMapper">
  	<insert id="post">
  		INSERT INTO MEMBER
  		(MEMBER_ID,PASSWORD,NAME,AGE,SSN,GENDER,ADDRESS,E_MAIL,PHONE_NUM)
  		VALUES
	  	(#{memberId},#{password},#{name},#{age},#{ssn},#{gender},#{address},#{eMail},#{phoneNum})
  	</insert>
  	<select id="listAll" resultType="com.bemeal.web.mbr.Member">
        SELECT 
           MEMBER_ID AS "MEMBERID",PASSWORD,NAME,AGE,SSN,GENDER,ADDRESS,E_MAIL AS "EMAIL",PHONE_NUM AS PHONENUM 
        FROM MEMBER
    </select>
    
    <select id="get" resultType="com.bemeal.web.mbr.Member">
    	SELECT 
    	MEMBER_ID AS memberId,
    	NAME,
    	AGE,
    	SSN,
    	GENDER,
    	ADDRESS,
    	E_MAIL AS eMail,
    	PHONE_NUM AS phoneNum
    	FROM MEMBER
    	<where>
    		<if test="memberId != null and memberId != ''">
    			MEMBER_ID LIKE #{memberId}
    		</if>
    		<if test="password != null and password !=''">
    			AND PASSWORD LIKE #{password}
    		</if>
    	</where>
    </select>
    <delete id="delete">
		DELETE FROM MEMBER
		WHERE MEMBER_ID LIKE #{memberId}
	</delete>
	<update id="modify">
		UPDATE MEMBER SET PASSWORD = #{password}, ADDRESS = #{address}, E_MAIL = #{eMail}, PHONE_NUM = #{phoneNum}
			WHERE MEMBER_ID LIKE #{memberId}
	</update>
	
	
	
	
  </mapper>