<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.bemeal.web.item.ItemMapper">
  	<insert id="post">
  		INSERT ITEM
  		(ITEM_SEQ,ITEM_NAME,BRAND,CATEGORY,PRICE,CALORIE,EXPLAINS)
  		VALUES
	  	(#{itemSeq},#{itemName},#{brand},#{category},#{price},#{calorie},#{explains})
  	</insert>
  
  </mapper>