<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.bemeal.web.item.ItemMapper">
  	<resultMap type="hashmap" id="result">
  		<result property="itemSeq" column="ITEM_SEQ"/>
  		<result property="itemName" column="ITEM_NAME"/>
  		<result property="brand" column="BRAND"/>
  		<result property="category" column="CATEGORY"/>
  		<result property="price" column="PRICE"/>
  		<result property="salePercent" column="SALE_PERCENT"/>
  		<result property="event" column="EVENT"/>
  		<result property="newItem" column="NEW_ITEM"/>
  		<result property="explains" column="EXPLAINS"/>
  		<result property="calorie" column="CALORIE"/>
  		<result property="imgSeq" column="IMG_SEQ"/>
  		<result property="img" column="IMG"/>
  		<result property="memberId" column="MEMBER_ID"/>
  		<result property="password" column="PASSWORD"/>
  		<result property="name" column="NAME"/>
  		<result property="age" column="AGE"/>
  		<result property="ssn" column="SSN"/>
  		<result property="gender" column="GENDER"/>
  		<result property="address" column="ADDRESS"/>
  		<result property="eMail" column="E_MAIL"/>
  		<result property="tasteSeq" column="TASTE_SEQ"/>
  		<result property="quantity" column="QUANTITY"/>
  		<result property="dirName" column="DIR_NAME"/>
  		<result property="grade" column="GRADE"/>
  		<result property="tasteDate" column="TASTE_DATE"/>
  		<result property="tasteTime" column="TASTE_TIME"/>
  		<result property="flag" column="FLAG"/>
  		<result property="avg" column="avg"/>
  		<result property="count" column="COUNT"/>
  		<result property="sum" column="SUM"/>
  	</resultMap>
  	<insert id="post">
  		INSERT INTO ITEM
  		(ITEM_SEQ,ITEM_NAME,BRAND,CATEGORY,PRICE,CALORIE,EXPLAINS)
  		VALUES
	  	(#{itemSeq},#{itemName},#{brand},#{category},#{price},#{calorie},#{explains})
  	</insert>
 	<select id="listSomePrice" resultMap="result">
		SELECT it.*,img.*
		FROM
			ITEM it
			JOIN image img
				on it.item_seq like img.item_seq
		<where>
			<if test="brand != null and category != null">
				it.brand like #{brand} AND it.category like #{category}
			</if>
			<if test="brand != null and category == null">
				it.brand like #{brand}
			</if>
			<if test="brand == null and category != null">
				it.category like #{category}
			</if>
		</where>
		ORDER BY it.price DESC
  	</select>
 	<select id="listSomeCalorie" resultMap="result">
		SELECT it.*,img.*
		FROM
			ITEM it
			JOIN image img
				on it.item_seq like img.item_seq
		<where>
			<if test="brand != null and category != null">
				it.brand like #{brand} AND it.category like #{category}
			</if>
			<if test="brand != null and category == null">
				it.brand like #{brand}
			</if>
			<if test="brand == null and category != null">
				it.category like #{category}
			</if>
		</where>
		ORDER BY it.calorie DESC
  	</select>
  	 	<select id="listSomeScore" resultMap="result">
		SELECT it.*,img.*
		FROM
			ITEM it
			JOIN image img
				on it.item_seq like img.item_seq
			JOIN taste t
				on it.item_seq like t.item_seq
		<where>
			t.flag like 'star'
			<if test="brand != null and category != null">
				AND it.brand like #{brand} AND it.category like #{category}
			</if>
			<if test="brand != null and category == null">
				AND it.brand like #{brand}
			</if>
			<if test="brand == null and category != null">
				AND it.category like #{category}
			</if>
		</where>
		ORDER BY t.grade DESC
  	</select>
  	<select id="retrieve" resultMap="result">
		SELECT it.*,
				img.*, 
			count(*) as starCount
		FROM
			ITEM it
			JOIN image img
				on it.item_seq like img.item_seq
			JOIN taste t
				on it.item_seq like t.item_seq	
		WHERE it.item_seq LIKE #{itemSeq} AND t.flag LIKE 'star'
  	</select>
  	<select id="tag" resultMap="result">
  		select tg.TAG_FLAG,tg.TAG_NAME
		from tag_item tgi
			join tag tg
			on tgi.TAG_SEQ like tg.TAG_SEQ
		where tgi.ITEM_SEQ like #{itemSeq};
  	</select>

  	

  </mapper>